Flask==3.0.3
Flask-SQLAlchemy==3.1.1
email-validator==2.2.0
Werkzeug==3.0.4
scikit-learn==1.5.2
joblib==1.4.2
pandas==2.2.3
catboost==1.2.7
pytz==2024.2
Flask-Migrate==4.0.7
APScheduler==3.10.4
